.titulo {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 34px;
}

.titulo-2 {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 20px;
}

.texto-golpes {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
}

.subtitulo{
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 8px
}

.boton-jugar {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
